body{
    margin: 0;
    padding: 0;
    background-image: url(../assets/images/fondo.jpg);
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    
    overflow-x:hidden;
    overflow-y:hidden;
}
.container {

    width: 100vw;
    height: 100vh;
    font-size: 1.2rem;
}

.encabezado {
    text-align: center;
    color: white;
}

.botones {
    display: flex;
}

.contbtn {
    margin-left: 22vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.btn {
    height: 150px;
    width: 300px;
    font-size: 1.2rem;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.cont__log{
    position: relative;
    top: 2%;
    left: 80%;
}