.container {
    width: 100vw;
    height: 100vh;
    font-size: 1.2rem;
}

.encabezado {
    text-align: center;
}

.botones {
    display: flex;
}

.contbtn {
    margin: auto;
    width: 60vw;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.btn {
    height: 150px;
    width: 300px;
    font-size: 1.2rem;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.cont__log{
    position: relative;
    top: 2%;
    left: 80%;
}